*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container {
    display: flex;
    min-width: 350px;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left:10%;
    margin-right: 10%;

}

.chart-container {
    display: flex;
    flex-direction: row;
    position: relative;
    /* margin: auto; */
    height: 30%;
    width: 30%;
    min-width: 300px;
    margin-right: 40px; /* Add margin to create space between chart containers */
}

.charts-container {
    min-width: 200px;
    display: flex;
    flex-direction: row;
    position: relative;
    /* margin: auto; */
    height: 20%;
    width: 20%;
    margin-right: 40px; /* Add margin to create space between chart containers */
}

h1 {
    text-align: center;
    color: #333;
}

canvas {
    margin-top: 20px;
    width: 100%; /* Make canvas width 100% to fill its container */
    height: auto; /* Let the height adjust automatically based on the width */
}
/* Responsive styles */
@media (max-width: 768px) {
    .container {
        margin: 0 5%;
        padding: 15px;
    }

    .chart-container,
    .charts-container {
        display:flex;
        flex-direction: column;
        max-width: 100%; /* Allow charts to take full width on smaller screens */
        margin: 10px auto;
    }
}
